<!-- footer section  -->

<footer class="footer">
    <a href="https://www.linkedin.com/in/bharath-kumar-kalaimani-a03301171/" target="_blank" class="social-icon fab fa-linkedin-in"></a>
    <a href="https://twitter.com/kbharath840" target="_blank" class="social-icon fab fa-twitter"></a>
    <p>copyrights © 2023 |❤️ Made by Bharath </p>

</footer>
