<!-- about section starts  -->
<%- include("partials/header") %>  


<section class="about" id="about">

    <h1 class="heading"> About Me</h1>
    
    <div class="row-1">
    
        <div class="image">
            <img src="images/about.jpg" alt="">
        </div>
    
        <div class="content">
            <h3> Hi ! </h3>
            <p>I'm Bharath Kumar - data engineer and web developer in India</p>
            <p>Leading an exploring lifestyle is a personal goal. Always dreams big.</p>
            <p>After schooling, I have done my graduation in computer science and engineeering. At that time used to visit many colleges in different cities to get exposure and more towards exploring the other cities. Love to travel.</p>
            <p>Apart from curriculum, I play hockey. Not a great player of hockey but like to spend some time apart from studies and enjoy the game.</p>
            <p>I gained more interest towards the computers in my pre final year. Then I learned Web Development and played with some funny projects. </p>
            <p>After graduation, I have entered into Lightcast, initially worked in Automation testing and now currently exploring through the Data engineering and visualization.</p>
        </div>
    
    </div>

    <div class="row-2">
        <div class="content">
            <p>One thing I prefer to follow </p>
            <h3><i>Live your Dreams</i></h3>
        </div> 

    </div>


<%- include("partials/footer") %> 