<!-- home section starts  -->

<%- include("partials/header") %>  

<section class="home" id="home">

    <div class="content">
        <span class="hi"> Hi there... </span>
        <h3> I am <span> bharath kumar </span> </h3>
        <p class="info"> I am a Software Engineer </p>
        <p class="text"> Working in processing millions of data by data engineering and developing full stack web applications</p>
    </div>

    <div class="image">
        <img src="images/home.png" alt="">
    </div>

</section>

<%- include("partials/footer") %> 